@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="flex-direction:column; display:flex; align-items:center">
    <h1 class="display-3 mt-5">Bem-Vindo ao Café-TimTim</h1>
    <p>
        Learn about <a href="https://learn.microsoft.com/aspnet/core" class="text-decoration-none" style="color: white;">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>
