@model AppVendasWeb.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Nova Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoriaName" class="control-label"></label>
                <input asp-for="CategoriaName" class="form-control" />
                <span asp-validation-for="CategoriaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn mb-2 mt-2" style="background-color: #503C3C; color:white;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-light">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
